
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  width: 450px;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  padding: 22px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(25px); }
  to { opacity: 1; transform: translateY(0); }
}


h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 15px;
  color: #fff;
  letter-spacing: 0.5px;
}


.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

input {
  flex: 1;
  padding: 12px 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 18px;
}

input::placeholder {
  color: #888;
}


button {
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(135deg, #ce8643, #185a9d);
  color: #fff;
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}


#taskCount {
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
  color: #eaeaea;
  font-weight: 600;
}


ul {
  list-style: none;
  margin-top: 10px;
  max-height: 260px;
  overflow-y: auto;
}

ul::-webkit-scrollbar {
  width: 6px;
}
ul::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}


li {
  background: rgba(255, 255, 255, 0.85);
  padding: 10px 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

li:hover {
  background: #fff;
  transform: scale(1.02);
}


li.completed {
  background: rgba(220, 220, 220, 0.8);
  color: #777;
  text-decoration: line-through;
}


.delete-btn {
  background: linear-gradient(135deg, #ce8643, #185a9d);
  color: #fff;
  border: none;
  padding: 6px 9px;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
